<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.DebitAndCreditMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.DebitAndCredit">
        <id column="DT_ID" property="dtId" jdbcType="VARCHAR"/>
        <result column="D_ITT_ID" property="dIttId" jdbcType="VARCHAR"/>
        <result column="D_LNR_ID" property="dLnrId" jdbcType="VARCHAR"/>
        <result column="D_PRO_ID" property="dProId" jdbcType="VARCHAR"/>
        <result column="D_PRO_NAME" property="dProName" jdbcType="VARCHAR"/>
        <result column="D_PRO_LMT" property="dProLmt" jdbcType="NUMERIC"/>
        <result column="D_TIMES" property="dTimes" jdbcType="NUMERIC"/>
        <result column="D_ITT_RA" property="dIttRa" jdbcType="NUMERIC"/>
        <result column="D_MONEY" property="dMoney" jdbcType="NUMERIC"/>
        <result column="D_BEF" property="dBef" jdbcType="NUMERIC"/>
        <result column="D_AFT" property="dAft" jdbcType="NUMERIC"/>
        <result column="D_DATE" property="dDate" jdbcType="TIMESTAMP"/>
        <result column="UN_PAY" property="unPay" jdbcType="NUMERIC"/>
        <result column="YET_PAY" property="yetPay" jdbcType="NUMERIC"/>
        <result column="LAST_REPAY_DATE" property="lastRePayDate" jdbcType="DATE"/>
        <result column="STUS" property="stus" jdbcType="VARCHAR"/>
        <result column="LOAN_DATE" property="loanDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        DT_ID,D_ITT_ID,D_LNR_ID,D_PRO_ID,D_PRO_NAME,D_PRO_LMT,D_TIMES,D_ITT_RA,D_MONEY,D_BEF,D_AFT,D_DATE,LAST_REPAY_DATE,STUS,LOAN_DATE
    </sql>

    <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_PRODUCT
        where PRO_ID = #{proId,jdbcType=VARCHAR}
    </select>-->

    <select id="selectByProperties" resultMap="BaseResultMap" parameterType="Map">
        select<include refid="Base_Column_List"/>,UN_PAY,CASE WHEN SUM(repay1.TOTLE_MONEY) is null THEN 0 ELSE
        SUM(repay1.TOTLE_MONEY) END
        AS YET_PAY from (select<include refid="Base_Column_List"/>,CASE WHEN SUM(repay0.TOTLE_MONEY) IS null THEN 0 ELSE
        SUM(repay0.TOTLE_MONEY) END AS UN_PAY from T_DEBITANDCREDIT debit left join T_REPAYALOAN repay0 on debit.DT_ID
        = repay0.DEBIT_ID AND repay0.STATUS = 0
        <where>
            <if test="userId != null and userId != ''">
                and D_LNR_ID = #{userId}
            </if>
        </where>
        GROUP BY
        DT_ID,D_ITT_ID,D_LNR_ID,D_PRO_ID,D_PRO_NAME,D_PRO_LMT,D_TIMES,D_ITT_RA,D_MONEY,D_BEF,D_AFT,D_DATE,LAST_REPAY_DATE) a
        left
        join T_REPAYALOAN repay1 on DT_ID = repay1.DEBIT_ID AND repay1.STATUS = 1 GROUP BY
        DT_ID,D_ITT_ID,D_LNR_ID,D_PRO_ID,D_PRO_NAME,D_PRO_LMT,D_TIMES,D_ITT_RA,D_MONEY,D_BEF,D_AFT,D_DATE,UN_PAY,LAST_REPAY_DATE,STUS,LOAN_DATE
    </select>

    <insert id="insertSelective" parameterType="com.newland.financial.p2p.domain.entity.Interest">
        INSERT INTO T_DEBITANDCREDIT
        (<include refid="Base_Column_List"/>) VALUES
        (#{dtId,jdbcType=VARCHAR},#{dIttId,jdbcType=VARCHAR},#{dLnrId,jdbcType=VARCHAR},#{dProId,jdbcType=VARCHAR},
        #{dProName,jdbcType=VARCHAR},#{dProLmt,jdbcType=NUMERIC},#{dTimes,jdbcType=NUMERIC},#{dIttRa,jdbcType=NUMERIC},
        #{dMoney,jdbcType=NUMERIC},#{dBef,jdbcType=NUMERIC},#{dAft,jdbcType=NUMERIC},#{dDate,jdbcType=TIMESTAMP},
        #{lastRePayDate,jdbcType=DATE},#{stus,jdbcType=VARCHAR},#{loanDate,jdbcType=DATE})
    </insert>

    <delete id="deleteByProperties" parameterType="Map">
        DELETE FROM T_DEBITANDCREDIT
        <where>
            <if test="userId != null and userId != ''">
                and D_LNR_ID = #{userId}
            </if>
        </where>
    </delete>
    <!--获取贷款单编号-->
    <select id="selectDebitId" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from t_debitandcredit
        where D_PRO_ID = #{proId} AND D_LNR_ID = #{userId} AND STUS = #{stus}
    </select>

</mapper>