<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.ProductMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.Product">
        <id column="PRO_ID" property="proId" jdbcType="VARCHAR"/>
        <result column="PRO_NAME" property="proName" jdbcType="VARCHAR"/>
        <result column="PRO_LMT" property="proLmt" jdbcType="NUMERIC"/>
        <result column="PAY_DATE" property="payDate" jdbcType="DATE"/>
        <result column="PRO_INTEREST" property="proInterest" jdbcType="NUMERIC"/>
        <result column="PRO_NAME_OPERATOR" property="proNameOperator" jdbcType="VARCHAR"/>
        <result column="SPONSOR" property="sponsor" jdbcType="VARCHAR"/>
        <result column="SPR_PRO_NAME" property="sprProName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
        <result column="LAST_MODI_TIME" property="lastModiTime" jdbcType="DATE"/>
        <result column="MAX_LMT" property="maxLmt" jdbcType="NUMERIC"/>
        <result column="ROLE" property="role" jdbcType="VARCHAR"/>
        <result column="PUTANDDOWN" property="putAndDown" jdbcType="VARCHAR"/>
        <result column="ADVANCE_REPAY" property="advanceRepay" jdbcType="VARCHAR"/>
        <result column="FORMULA" property="formula" jdbcType="VARCHAR"/>
        <result column="LATEFEE" property="latefee" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        PRO_ID,PRO_NAME,PRO_LMT,PAY_DATE,PRO_INTEREST,PRO_NAME_OPERATOR,SPONSOR,SPR_PRO_NAME,CREATE_TIME,LAST_MODI_TIME,MAX_LMT,ROLE,PUTANDDOWN,ADVANCE_REPAY,FORMULA,LATEFEE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_PRODUCT
        where PRO_ID = #{proId,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from T_PRODUCT
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM T_PRODUCT WHERE PRO_ID = #{proId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.newland.financial.p2p.domain.entity.Product">
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="proId">
             SELECT PRO_ID_SEQ.Nextval as proId from dual
         </selectKey>-->
        INSERT INTO T_PRODUCT (<include refid="Base_Column_List"/>) VALUES
        (#{proId,jdbcType=VARCHAR},#{proName,jdbcType=VARCHAR},#{proLmt,jdbcType=NUMERIC},#{payDate,jdbcType=DATE},#{proInterest,jdbcType=NUMERIC},#{proNameOperator,jdbcType=VARCHAR},
        #{sponsor,jdbcType=VARCHAR},#{sprProName,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},#{lastModiTime,jdbcType=DATE},
        #{maxLmt,jdbcType=NUMERIC},#{role,jdbcType=VARCHAR},#{putAndDown,jdbcType=VARCHAR},#{advanceRepay,jdbcType=VARCHAR},
        #{formula,jdbcType=VARCHAR},#{latefee,jdbcType=NUMERIC})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.newland.financial.p2p.domain.entity.Product">
        UPDATE T_PRODUCT SET PRO_NAME = #{proName,jdbcType=VARCHAR},PRO_LMT = #{proLmt,jdbcType=NUMERIC},
        PAY_DATE = #{payDate,jdbcType=DATE},PRO_INTEREST = #{proInterest,jdbcType=NUMERIC},PRO_NAME_OPERATOR = #{proNameOperator,jdbcType=VARCHAR},
        SPONSOR = #{sponsor,jdbcType=VARCHAR},SPR_PRO_NAME = #{sprProName,jdbcType=VARCHAR},CREATE_TIME = #{createTime,jdbcType=DATE},LAST_MODI_TIME = #{lastModiTime,jdbcType=DATE},
        MAX_LMT = #{maxLmt,jdbcType=NUMERIC},ROLE = #{role,jdbcType=VARCHAR},PUTANDDOWN = #{putAndDown,jdbcType=VARCHAR},ADVANCE_REPAY = #{advanceRepay,jdbcType=VARCHAR},
        FORMULA = #{formula,jdbcType=VARCHAR},LATEFEE = #{latefee,jdbcType=NUMERIC}
        WHERE PRO_ID = #{proId,jdbcType=VARCHAR}
    </update>

</mapper>