<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.ProductMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.Product">
        <id column="PRO_ID" property="proId" jdbcType="VARCHAR"/>
        <result column="PRO_NAME" property="proName" jdbcType="VARCHAR"/>
        <result column="PRO_LMT" property="proLmt" jdbcType="NUMERIC"/>
        <result column="PAY_DATE" property="payDate" jdbcType="DATE"/>
        <result column="PRO_INTEREST" property="proInterest" jdbcType="NUMERIC"/>
        <result column="PRO_NAME_OPERATOR" property="proNameOperator" jdbcType="VARCHAR"/>
        <result column="SPONSOR" property="sponsor" jdbcType="VARCHAR"/>
        <result column="SPR_PRO_NAME" property="sprProName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="LAST_MODI_TIME" property="lastModiTime" jdbcType="TIMESTAMP"/>
        <result column="MAX_LMT" property="maxLmt" jdbcType="NUMERIC"/>
        <result column="ROLE" property="role" jdbcType="VARCHAR"/>
        <result column="PUTANDDOWN" property="putAndDown" jdbcType="VARCHAR"/>
        <result column="ADVANCE_REPAY" property="advanceRepay" jdbcType="VARCHAR"/>
        <result column="FORMULA" property="formula" jdbcType="VARCHAR"/>
        <result column="LATEFEE" property="latefee" jdbcType="NUMERIC"/>
        <result column="INTEREST_MHD" property="interestMhd" jdbcType="VARCHAR"/>
        <result column="POUNDAGE" property="poundage" jdbcType="VARCHAR"/>
        <result column="IS_LATEFEE" property="isLatefee" jdbcType="VARCHAR"/>
        <result column="REPAY_MHD" property="repayMhd" jdbcType="VARCHAR"/>
        <result column="POSITIVE_OR_NEGATIVE" property="positiveOrNegative" jdbcType="VARCHAR"/>
        <result column="CUTMHD" property="cutMhd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        PRO_ID,PRO_NAME,PRO_LMT,PAY_DATE,PRO_INTEREST,PRO_NAME_OPERATOR,SPONSOR,SPR_PRO_NAME,CREATE_TIME,LAST_MODI_TIME,MAX_LMT,ROLE,PUTANDDOWN,ADVANCE_REPAY,FORMULA,LATEFEE,INTEREST_MHD,POUNDAGE,IS_LATEFEE,REPAY_MHD,POSITIVE_OR_NEGATIVE,CUTMHD
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_PRODUCT
        where PRO_ID = #{proId,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from T_PRODUCT
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM T_PRODUCT WHERE PRO_ID = #{proId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.newland.financial.p2p.domain.entity.Product">
        INSERT INTO T_PRODUCT (<include refid="Base_Column_List"/>) VALUES
        (#{proId,jdbcType=VARCHAR},#{proName,jdbcType=VARCHAR},#{proLmt,jdbcType=NUMERIC},#{payDate,jdbcType=DATE},#{proInterest,jdbcType=NUMERIC},#{proNameOperator,jdbcType=VARCHAR},
        #{sponsor,jdbcType=VARCHAR},#{sprProName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{lastModiTime,jdbcType=TIMESTAMP},
        #{maxLmt,jdbcType=NUMERIC},#{role,jdbcType=VARCHAR},#{putAndDown,jdbcType=VARCHAR},#{advanceRepay,jdbcType=VARCHAR},
        #{formula,jdbcType=VARCHAR},#{latefee,jdbcType=NUMERIC},#{interestMhd,jdbcType=VARCHAR},#{poundage,jdbcType=VARCHAR},#{isLatefee,jdbcType=VARCHAR},
        #{repayMhd,jdbcType=VARCHAR},#{positiveOrNegative,jdbcType=VARCHAR},#{cutMhd,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.newland.financial.p2p.domain.entity.Product">
        UPDATE T_PRODUCT
        <set>
            <if test="proName != null">
                PRO_NAME = #{proName,jdbcType=VARCHAR},
            </if>
            <if test="proLmt != null">
                PRO_LMT = #{proLmt,jdbcType=NUMERIC},
            </if>
            <if test="payDate != null">
                PAY_DATE = #{payDate,jdbcType=DATE},
            </if>
            <if test="proInterest != null">
                PRO_INTEREST = #{proInterest,jdbcType=NUMERIC},
            </if>
            <if test="proNameOperator != null">
                PRO_NAME_OPERATOR = #{proNameOperator,jdbcType=VARCHAR},
            </if>
            <if test="sponsor != null">
                SPONSOR = #{sponsor,jdbcType=VARCHAR},
            </if>
            <if test="sprProName != null">
                SPR_PRO_NAME = #{sprProName,jdbcType=VARCHAR},
            </if>
            <if test="lastModiTime != null">
                LAST_MODI_TIME = #{lastModiTime,jdbcType=TIMESTAMP},
            </if>
            <if test="maxLmt != null">
                MAX_LMT = #{maxLmt,jdbcType=NUMERIC},
            </if>
            <if test="role != null">
                ROLE = #{role,jdbcType=VARCHAR},
            </if>
            <if test="putAndDown != null">
                PUTANDDOWN = #{putAndDown,jdbcType=VARCHAR},
            </if>
            <if test="advanceRepay != null">
                ADVANCE_REPAY = #{advanceRepay,jdbcType=VARCHAR},
            </if>
            <if test="formula != null">
                FORMULA = #{formula,jdbcType=VARCHAR},
            </if>
            <if test="latefee != null">
                LATEFEE = #{latefee,jdbcType=NUMERIC},
            </if>
            <if test="interestMhd != null">
                INTEREST_MHD = #{interestMhd,jdbcType=VARCHAR},
            </if>
            <if test="poundage != null">
                POUNDAGE = #{poundage,jdbcType=VARCHAR},
            </if>
            <if test="isLatefee != null">
                IS_LATEFEE = #{isLatefee,jdbcType=VARCHAR},
            </if>
            <if test="repayMhd != null">
                REPAY_MHD = #{repayMhd,jdbcType=VARCHAR},
            </if>
            <if test="positiveOrNegative != null">
                POSITIVE_OR_NEGATIVE = #{positiveOrNegative,jdbcType=VARCHAR},
            </if>
            <if test="cutMhd != null">
                CUTMHD = #{cutMhd,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE PRO_ID = #{proId,jdbcType=VARCHAR}
    </update>

    <update id="updatePutAndDown" parameterType="Map">
        UPDATE T_PRODUCT SET PUTANDDOWN = #{putAndDown} WHERE PRO_ID = #{proId}
    </update>

    <select id="findAllByPram" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from T_PRODUCT where 1=1
        <if test="role != null">
            AND ROLE = #{role}
        </if>
        <if test="proId != null">
            AND PRO_ID = #{proId}
        </if>
        <if test="proName != null">
            AND PRO_NAME = #{proName}
        </if>
        <if test="sponsor != null">
            AND SPONSOR = #{sponsor}
        </if>
        <if test="begTime != null">
            AND CREATE_TIME &gt; #{begTime}
        </if>
        <if test="endTime != null">
            AND CREATE_TIME &lt; #{endTime}
        </if>
    </select>
</mapper>