<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.RepayALoanMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.RepayALoan">
        <id column="RE_ID" property="reId" jdbcType="VARCHAR"/>
        <result column="RE_LND_ID" property="reLndId" jdbcType="VARCHAR"/>
        <result column="RE_MTD" property="reMtd" jdbcType="VARCHAR"/>
        <result column="RE_PRO_ID" property="reProId" jdbcType="VARCHAR"/>
        <result column="RE_PRO_NAME" property="reProNmae" jdbcType="VARCHAR"/>
        <result column="RE_PRO_LMT" property="reProLmt" jdbcType="NUMERIC"/>
        <result column="CRT_RE" property="crtRe" jdbcType="NUMERIC"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
        <result column="EXPIRE_DATE" property="expireDate" jdbcType="DATE"/>
        <result column="RE_BEF" property="reBef" jdbcType="NUMERIC"/>
        <result column="RE_AFT" property="reAft" jdbcType="NUMERIC"/>
        <result column="STATUS" property="status" jdbcType="NUMERIC"/>
        <result column="CRT_INTEREST" property="crtInterest" jdbcType="NUMERIC"/>
        <result column="SER_MONEY" property="serMoney" jdbcType="NUMERIC"/>
        <result column="OTHER_MONEY" property="otherMoney" jdbcType="NUMERIC"/>
        <result column="TOTLE_MONEY" property="totleMoney" jdbcType="NUMERIC"/>
        <result column="DEBIT_ID" property="debitId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RE_ID,RE_LND_ID,RE_MTD,RE_PRO_ID,RE_PRO_NAME,RE_PRO_LMT,CRT_RE,CREATE_DATE,EXPIRE_DATE,RE_BEF,RE_AFT,STATUS,CRT_INTEREST,SER_MONEY,OTHER_MONEY,TOTLE_MONEY,DEBIT_ID
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_REPAYALOAN
        where RE_ID = #{reId,jdbcType=VARCHAR}
    </select>

    <select id="selectByPropertie" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from T_REPAYALOAN
        where
        RE_LND_ID = #{userId}
        ORDER BY CREATE_DATE
    </select>

    <select id="selectByProperties" resultType="java.math.BigDecimal" parameterType="Map">
        select
        sum(TOTLE_MONEY)
        from T_REPAYALOAN
        <where>
            <if Test="userId != null and userId != ''">
                and RE_LND_ID = #{userId}
            </if>
            <if Test="status != null">
                and STATUS = #{status}
            </if>
            <if Test="payDate != null">
                and CREATE_DATE &lt;= #{payDate}
            </if>
            ORDER BY CREATE_DATE
        </where>
    </select>

    <select id="selectByProperty" resultType="java.math.BigDecimal" parameterType="Map">
        select
        sum(TOTLE_MONEY)
        from T_REPAYALOAN
        <where>
                and RE_LND_ID = #{userId}
            <if Test="status != null">
                and STATUS = #{status}
            </if>
        </where>
    </select>

    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM T_PRODUCT WHERE PRO_ID = #{proId,jdbcType=VARCHAR}
    </delete>-->

    <insert id="insertSelective" parameterType="com.newland.financial.p2p.domain.entity.RepayALoan">
        <!--<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="reId">
            SELECT RE_ID_SEQ.Nextval as reId from dual
        </selectKey>-->
        INSERT INTO T_REPAYALOAN
        (RE_ID,RE_LND_ID,RE_MTD,RE_PRO_ID,RE_PRO_NAME,RE_PRO_LMT,CRT_RE,CREATE_DATE,EXPIRE_DATE,RE_BEF,RE_AFT,STATUS,CRT_INTEREST,SER_MONEY,OTHER_MONEY,TOTLE_MONEY,DEBIT_ID)
        VALUES
        (#{reId,jdbcType=VARCHAR},#{reLndId,jdbcType=VARCHAR},#{reMtd,jdbcType=VARCHAR},#{reProId,jdbcType=VARCHAR},#{reProNmae,jdbcType=VARCHAR},#{reProLmt,jdbcType=NUMERIC},#{crtRe,jdbcType=NUMERIC},#{createDate,jdbcType=DATE},#{expireDate,jdbcType=DATE},#{reBef,jdbcType=NUMERIC},#{reAft,jdbcType=NUMERIC},#{status,jdbcType=NUMERIC},#{crtInterest,jdbcType=NUMERIC},#{serMoney,jdbcType=NUMERIC},#{otherMoney,jdbcType=NUMERIC},#{totleMoney,jdbcType=NUMERIC},#{debitId,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.newland.financial.p2p.domain.entity.RepayALoan">
        UPDATE T_REPAYALOAN SET RE_LND_ID = #{reLndId,jdbcType=VARCHAR},RE_MTD = #{reMtd,jdbcType=VARCHAR},RE_PRO_ID = #{reProId,jdbcType=VARCHAR},RE_PRO_NAME = #{reProNmae,jdbcType=VARCHAR},RE_PRO_LMT = #{reProLmt,jdbcType=NUMERIC},CRT_RE = #{crtRe,jdbcType=NUMERIC},CREATE_DATE = #{createDate,jdbcType=DATE},EXPIRE_DATE = #{expireDate,jdbcType=DATE},RE_BEF = #{reBef,jdbcType=NUMERIC},RE_AFT = #{reAft,jdbcType=NUMERIC},STATUS = #{status,jdbcType=NUMERIC},CRT_INTEREST = #{crtInterest,jdbcType=NUMERIC},SER_MONEY = #{serMoney,jdbcType=NUMERIC},OTHER_MONEY = #{otherMoney,jdbcType=NUMERIC},TOTLE_MONEY = #{totleMoney,jdbcType=NUMERIC},DEBIT_ID = #{debitId,jdbcType=VARCHAR} WHERE RE_ID = #{reId,jdbcType=VARCHAR}
    </update>
    
    <delete id="deleteByPropertie" parameterType="Map">
        DELETE FROM T_REPAYALOAN
        <where>
            <if Test="userId != null and userId != ''">
                and RE_LND_ID = #{userId}
           </if>
        </where>
    </delete>

    <update id="updateStatus" parameterType="Map">
        UPDATE T_REPAYALOAN SET STATUS = 2
        <where>
            <if Test="userId != null and userId != ''">
                and RE_LND_ID = #{userId}
            </if>
        </where>
    </update>

</mapper>