<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.MerInfoMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.MerInfo">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="MER_ID" property="merId" jdbcType="VARCHAR"/>
        <result column="MER_NAME" property="merName" jdbcType="VARCHAR"/>
        <result column="MER_PWD" property="merPwd" jdbcType="VARCHAR"/>
        <result column="MER_ABBR" property="merAbbr" jdbcType="VARCHAR"/>
        <result column="REGISTERED_ADDRESS" property="registeredAddress" jdbcType="VARCHAR"/>
        <result column="PARENT_CHANNELS_CODE" property="parentChannelsCode" jdbcType="VARCHAR"/>
        <result column="PARENT_MERCHANT_CODE" property="parentMerchantCode" jdbcType="VARCHAR"/>
        <result column="ADDR" property="addr" jdbcType="VARCHAR"/>
        <result column="CORPORATE_REPRESENTATIVE" property="corporateRepresentative" jdbcType="VARCHAR"/>
        <result column="LXR" property="lxr" jdbcType="VARCHAR"/>
        <result column="TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="FAX" property="fax" jdbcType="VARCHAR"/>
        <result column="NATURE" property="nature" jdbcType="VARCHAR"/>
        <result column="LEASE" property="lease" jdbcType="VARCHAR"/>
        <result column="SITEAREA" property="sitearea" jdbcType="INTEGER"/>
        <result column="START_BUSINESS" property="startBusiness" jdbcType="VARCHAR"/>
        <result column="BUSINESS_HOURSE" property="businessHourse" jdbcType="INTEGER"/>
        <result column="INDUSTRIES_ID" property="industriesId" jdbcType="VARCHAR"/>
        <result column="INDUSTRIES_EXPLAI" property="industriesExplai" jdbcType="VARCHAR"/>
        <result column="BANKCARD_TURNOVER" property="bankcardTurnover" jdbcType="INTEGER"/>
        <result column="SALESSLIP_TURNOVER" property="salesslipTurnover" jdbcType="INTEGER"/>
        <result column="LFQ_TURNOVER" property="lfqTurnover" jdbcType="INTEGER"/>
        <result column="CHANNELS_ID" property="channelsId" jdbcType="VARCHAR"/>
        <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR"/>
        <result column="BANK_NUM" property="bankNum" jdbcType="VARCHAR"/>
        <result column="HOLDER_NAME" property="holderName" jdbcType="VARCHAR"/>
        <result column="CARD_NUM" property="cardNum" jdbcType="VARCHAR"/>
        <result column="UNIONPAY_MERCHANT_NUM" property="unionpayMerchantNum" jdbcType="VARCHAR"/>
        <result column="PARENT_NAME" property="parentName" jdbcType="VARCHAR"/>
        <result column="LEV" property="level" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="SCHEDULE_STATE" property="scheduleState" jdbcType="VARCHAR"/>
        <result column="RATE_SIX" property="rateSix" jdbcType="NUMERIC"/>
        <result column="RATE_TWELVE" property="rateTwelve" jdbcType="NUMERIC"/>
        <result column="RATE_TWENTY_FOUR" property="rateTwentyFour" jdbcType="NUMERIC"/>
        <result column="SUBSIDY" property="subsidy" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CONTRACTS_CODE" property="contractsCode" jdbcType="VARCHAR"/>
        <result column="FAILURE" property="failure" jdbcType="VARCHAR"/>
        <result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
        <result column="SCHEDULE_NUM" property="scheduleNum" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,MER_ID,MER_NAME,MER_PWD,MER_ABBR,REGISTERED_ADDRESS,PARENT_CHANNELS_CODE,PARENT_MERCHANT_CODE,ADDR,CORPORATE_REPRESENTATIVE,LXR,TEL,MOBILE,EMAIL,FAX,NATURE,LEASE,SITEAREA,START_BUSINESS,
        BUSINESS_HOURSE,INDUSTRIES_ID,INDUSTRIES_EXPLAI,BANKCARD_TURNOVER,SALESSLIP_TURNOVER,LFQ_TURNOVER,CHANNELS_ID,BANK_NAME,BANK_NUM,HOLDER_NAME,CARD_NUM,UNIONPAY_MERCHANT_NUM,PARENT_NAME,
        LEV,REMARK,STATE,SCHEDULE_STATE,RATE_SIX,RATE_TWELVE,RATE_TWENTY_FOUR,SUBSIDY,CREATE_TIME,CONTRACTS_CODE,FAILURE,MERCHANT_ID,SCHEDULE_NUM
    </sql>
    <!--插入商户-->
    <insert id="insertMerInfo" parameterType="com.newland.financial.p2p.domain.entity.MerInfo">
        insert into t_inst_merinfo (<include refid="Base_Column_List"/>) values
        (#{id,jdbcType=VARCHAR},#{merId,jdbcType=VARCHAR},#{merName,jdbcType=VARCHAR},#{merPwd,jdbcType=VARCHAR},#{merAbbr,jdbcType=VARCHAR},#{registeredAddress,jdbcType=VARCHAR},#{parentChannelsCode,jdbcType=VARCHAR}
        ,#{parentMerchantCode,jdbcType=VARCHAR},#{addr,jdbcType=VARCHAR},#{corporateRepresentative,jdbcType=VARCHAR},#{lxr,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR}
        ,#{fax,jdbcType=VARCHAR},#{nature,jdbcType=VARCHAR},#{lease,jdbcType=VARCHAR},#{sitearea,jdbcType=INTEGER},#{startBusiness,jdbcType=VARCHAR},#{businessHourse,jdbcType=INTEGER}
        ,#{industriesId,jdbcType=INTEGER},#{industriesExplai,jdbcType=INTEGER},#{bankcardTurnover,jdbcType=INTEGER},#{salesslipTurnover,jdbcType=INTEGER}
        ,#{lfqTurnover,jdbcType=INTEGER},#{channelsId,jdbcType=VARCHAR},#{bankName,jdbcType=VARCHAR},#{bankNum,jdbcType=VARCHAR},#{holderName,jdbcType=VARCHAR},#{cardNum,jdbcType=VARCHAR},#{unionpayMerchantNum,jdbcType=VARCHAR}
        ,#{parentName,jdbcType=VARCHAR},#{level,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},#{scheduleState,jdbcType=VARCHAR},#{rateSix,jdbcType=NUMERIC},#{rateTwelve,jdbcType=NUMERIC}
        ,#{rateTwentyFour,jdbcType=NUMERIC},#{subsidy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{contractsCode,jdbcType=VARCHAR},#{failure,jdbcType=VARCHAR},#{merchantId,jdbcType=VARCHAR},
        #{scheduleNum,jdbcType=VARCHAR})
    </insert>

    <select id="selectByMerId" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from t_inst_merinfo
        where MER_ID = #{merId}
    </select>
    <!--查询商户列表（条件模糊查询）-->
    <select id="selectMerchantList" resultMap="BaseResultMap" parameterType="Map">
        SELECT * FROM t_inst_merinfo
        <where>
            1=1
            <if test="merchantId != null">
                and MERCHANT_ID like CONCAT('%','${merchantId}','%')
            </if>
            <if test="merName != null">
                and MER_NAME like CONCAT('%','${merName}','%')
            </if>
            ORDER BY CREATE_TIME desc
        </where>
    </select>
    <!--利率和合同号更新-->
    <update id="updateMerchantRateAndCon" parameterType="com.newland.financial.p2p.domain.entity.MerInfo">
        update t_inst_merinfo
        <set>
            <if test="rateSix != null">
                RATE_SIX = #{rateSix,jdbcType=NUMERIC},
            </if>
            <if test="rateTwelve != null">
                RATE_TWELVE = #{rateTwelve,jdbcType=NUMERIC},
            </if>
            <if test="rateTwentyFour != null">
                RATE_TWENTY_FOUR = #{rateTwentyFour,jdbcType=NUMERIC},
            </if>
            <if test="contractsCode != null">
                CONTRACTS_CODE = #{contractsCode,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
    </update>
    <!--全字段更新-->
    <update id="updateMerInfo" parameterType="com.newland.financial.p2p.domain.entity.MerInfo">
        update t_inst_merinfo
        <set>
            <if test="merId != null and merId != ''">
                MER_ID = #{merId,jdbcType=VARCHAR},
            </if>
            <if test="merName != null and merName != ''">
                MER_NAME = #{merName,jdbcType=VARCHAR},
            </if>
            <if test="merPwd != null and merPwd != ''">
                MER_PWD = #{merPwd,jdbcType=VARCHAR},
            </if>
            <if test="merAbbr != null and merAbbr != ''">
                MER_ABBR = #{merAbbr,jdbcType=VARCHAR},
            </if>
            <if test="registeredAddress != null and registeredAddress != ''">
                REGISTERED_ADDRESS = #{registeredAddress,jdbcType=VARCHAR},
            </if>
            <if test="parentChannelsCode != null and parentChannelsCode != ''">
                PARENT_CHANNELS_CODE = #{parentChannelsCode,jdbcType=VARCHAR},
            </if>
            <if test="parentMerchantCode != null and parentMerchantCode != ''">
                PARENT_MERCHANT_CODE = #{parentMerchantCode,jdbcType=VARCHAR},
            </if>
            <if test="addr != null and addr != ''">
                ADDR = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="corporateRepresentative != null and corporateRepresentative != ''">
                CORPORATE_REPRESENTATIVE = #{corporateRepresentative,jdbcType=VARCHAR},
            </if>
            <if test="lxr != null and lxr != ''">
                LXR = #{lxr,jdbcType=VARCHAR},
            </if>
            <if test="tel != null and tel != ''">
                TEL = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != ''">
                MOBILE = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="fax != null and fax != ''">
                FAX = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="nature != null and nature != ''">
                NATURE = #{nature,jdbcType=VARCHAR},
            </if>
            <if test="lease != null and lease != ''">
                LEASE = #{lease,jdbcType=VARCHAR},
            </if>
            <if test="sitearea != null and sitearea != ''">
                SITEAREA = #{sitearea,jdbcType=INTEGER},
            </if>
            <if test="startBusiness != null and startBusiness != ''">
                START_BUSINESS = #{startBusiness,jdbcType=VARCHAR},
            </if>
            <if test="businessHourse != null and businessHourse != ''">
                BUSINESS_HOURSE = #{businessHourse,jdbcType=INTEGER},
            </if>
            <if test="industriesId != null and industriesId != ''">
                INDUSTRIES_ID = #{industriesId,jdbcType=VARCHAR},
            </if>
            <if test="industriesExplai != null and industriesExplai != ''">
                INDUSTRIES_EXPLAI = #{industriesExplai,jdbcType=VARCHAR},
            </if>
            <if test="bankcardTurnover != null and bankcardTurnover != ''">
                BANKCARD_TURNOVER = #{bankcardTurnover,jdbcType=INTEGER},
            </if>
            <if test="salesslipTurnover != null and salesslipTurnover != ''">
                SALESSLIP_TURNOVER = #{salesslipTurnover,jdbcType=INTEGER},
            </if>
            <if test="lfqTurnover != null and lfqTurnover != ''">
                LFQ_TURNOVER = #{lfqTurnover,jdbcType=INTEGER},
            </if>
            <if test="channelsId!= null and channelsId != ''">
                CHANNELS_ID = #{channelsId,jdbcType=VARCHAR},
            </if>
            <if test="bankName!= null and bankName != ''">
                BANK_NAME = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankNum != null and bankNum != ''">
                BANK_NUM = #{bankNum,jdbcType=VARCHAR},
            </if>
            <if test="holderName != null and holderName != ''">
                HOLDER_NAME = #{holderName,jdbcType=VARCHAR},
            </if>
            <if test="cardNum != null and cardNum != ''">
                CARD_NUM = #{cardNum,jdbcType=VARCHAR},
            </if>
            <if test="unionpayMerchantNum != null and unionpayMerchantNum != ''">
                UNIONPAY_MERCHANT_NUM = #{unionpayMerchantNum,jdbcType=VARCHAR},
            </if>
            <if test="parentName != null and parentName != ''">
                PARENT_NAME = #{parentName,jdbcType=VARCHAR},
            </if>
            <if test="level != null and level != ''">
                LEV = #{level,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="state != null and state != ''">
                STATE = #{state,jdbcType=VARCHAR},
            </if>
            <if test="scheduleState != null and scheduleState != ''">
                SCHEDULE_STATE = #{scheduleState,jdbcType=VARCHAR},
            </if>
            <if test="rateSix != null and rateSix != ''">
                RATE_SIX = #{rateSix,jdbcType=NUMERIC},
            </if>
            <if test="rateTwelve != null and rateTwelve != ''">
                RATE_TWELVE = #{rateTwelve,jdbcType=NUMERIC},
            </if>
            <if test="rateTwentyFour != null and rateTwentyFour != ''">
                RATE_TWENTY_FOUR = #{rateTwentyFour,jdbcType=NUMERIC},
            </if>
            <if test="subsidy != null and subsidy != ''">
                SUBSIDY = #{subsidy,jdbcType=VARCHAR},
            </if>
            <if test="contractsCode != null and contractsCode != ''">
                CONTRACTS_CODE = #{contractsCode,jdbcType=VARCHAR},
            </if>
            <if test="failure != null and failure != ''">
                FAILURE = #{failure,jdbcType=VARCHAR},
            </if>
            <if test="scheduleNum != null and scheduleNum != ''">
                SCHEDULE_NUM = #{scheduleNum,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
    </update>
    <!--根据merchantId获取商户信息-->
    <select id="selectByMerchantId" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from t_inst_merinfo
        where MERCHANT_ID = #{merchantId}
    </select>
</mapper>