<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.OrderInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="txnTime" property="txnTime" jdbcType="TIMESTAMP"/>
        <result column="merId" property="merId" jdbcType="VARCHAR"/>
        <result column="txnAmt" property="txnAmt" jdbcType="BIGINT"/>
        <result column="txnterms" property="txnterms" jdbcType="INTEGER"/>
        <result column="orderId" property="orderId" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="accName" property="accName" jdbcType="VARCHAR"/>
        <result column="accNo" property="accNo" jdbcType="VARCHAR"/>
        <result column="validity" property="validity" jdbcType="VARCHAR"/>
        <result column="accIdcard" property="accIdcard" jdbcType="VARCHAR"/>
        <result column="accMobile" property="accMobile" jdbcType="VARCHAR"/>
        <result column="CVN2" property="cvn2" jdbcType="VARCHAR"/>
        <result column="discount" property="discount" jdbcType="BIGINT"/>
        <result column="contractsCode" property="contractsCode" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="BIGINT"/>
        <result column="queryId" property="queryId" jdbcType="VARCHAR"/>
        <result column="poundage" property="poundage" jdbcType="BIGINT"/>
        <result column="contractsState" property="contractsState" jdbcType="VARCHAR"/>
        <result column="sumTerms" property="sumTerms" jdbcType="INTEGER"/>
        <result column="sumAmount" property="sumAmount" jdbcType="BIGINT"/>
        <result column="remainAmount" property="remainAmount" jdbcType="BIGINT"/>
        <result column="cancelAmount" property="cancelAmount" jdbcType="BIGINT"/>
        <result column="cancelInterest" property="cancelInterest" jdbcType="BIGINT"/>
        <result column="valueAdded" property="valueAdded" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="stus" property="stus" jdbcType="VARCHAR"/>
        <result column="openId" property="openId" jdbcType="VARCHAR"/>
        <result column="merName" property="merName" jdbcType="VARCHAR"/>
        <result column="merchantId" property="merchantId" jdbcType="VARCHAR"/>
        <result column="totleAmount" property="totleAmount" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,txnTime,merId,txnAmt,txnterms,orderId,userId,accName,accNo,validity,accIdcard,accMobile,CVN2,discount,contractsCode,amount,queryId,poundage,contractsState,sumTerms,sumAmount,remainAmount,cancelAmount,cancelInterest,valueAdded,createTime,stus,openId,merchantId,merName,totleAmount
    </sql>
    <!--插入订单-->
    <insert id="insertOrder" parameterType="com.newland.financial.p2p.domain.entity.OrderInfo">
        INSERT INTO t_inst_orderinfo (<include refid="Base_Column_List"/>) VALUES
        (#{id,jdbcType=VARCHAR},#{txnTime,jdbcType=TIMESTAMP},#{merId,jdbcType=VARCHAR},#{txnAmt,jdbcType=BIGINT},#{txnterms,jdbcType=INTEGER},#{orderId,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},#{accName,jdbcType=VARCHAR},#{accNo,jdbcType=VARCHAR},#{validity,jdbcType=VARCHAR},#{accIdcard,jdbcType=VARCHAR},
        #{accMobile,jdbcType=VARCHAR},#{cvn2,jdbcType=VARCHAR},#{discount,jdbcType=BIGINT},#{contractsCode,jdbcType=VARCHAR},
        #{amount,jdbcType=BIGINT},#{queryId,jdbcType=VARCHAR},#{poundage,jdbcType=BIGINT},#{contractsState,jdbcType=VARCHAR},#{sumTerms,jdbcType=INTEGER},
        #{sumAmount,jdbcType=BIGINT},#{remainAmount,jdbcType=BIGINT},#{cancelAmount,jdbcType=BIGINT},#{cancelInterest,jdbcType=BIGINT},
        #{valueAdded,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},#{stus,jdbcType=VARCHAR},#{openId,jdbcType=VARCHAR},#{merchantId,jdbcType=VARCHAR},
        #{merName,jdbcType=VARCHAR},#{totleAmount,jdbcType=BIGINT})
    </insert>
    <!--根据订单号更新订单-->
    <update id="updateByOrderId" parameterType="com.newland.financial.p2p.domain.entity.OrderInfo">
        UPDATE t_inst_orderinfo
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="txnTime != null">
                txnTime = #{txnTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merId != null">
                merId = #{merId,jdbcType=VARCHAR},
            </if>
            <if test="txnAmt != null">
                txnAmt = #{txnAmt,jdbcType=BIGINT},
            </if>
            <if test="txnterms != null">
                txnterms = #{txnterms,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="accName != null">
                accName = #{accName,jdbcType=VARCHAR},
            </if>
            <if test="accNo != null">
                accNo = #{accNo,jdbcType=VARCHAR},
            </if>
            <if test="validity != null">
                validity = #{validity,jdbcType=VARCHAR},
            </if>
            <if test="accIdcard != null">
                accIdcard = #{accIdcard,jdbcType=VARCHAR},
            </if>
            <if test="accMobile != null">
                accMobile = #{accMobile,jdbcType=VARCHAR},
            </if>
            <if test="cvn2 != null">
                CVN2 = #{cvn2,jdbcType=VARCHAR},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=BIGINT},
            </if>
            <if test="contractsCode != null">
                contractsCode = #{contractsCode,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=BIGINT},
            </if>
            <if test="queryId != null">
                queryId = #{queryId,jdbcType=VARCHAR},
            </if>
            <if test="poundage != null">
                poundage = #{poundage,jdbcType=BIGINT},
            </if>
            <if test="contractsState != null">
                contractsState = #{contractsState,jdbcType=VARCHAR},
            </if>
            <if test="sumTerms != null">
                sumTerms = #{sumTerms,jdbcType=INTEGER},
            </if>
            <if test="sumAmount != null">
                sumAmount = #{sumAmount,jdbcType=BIGINT},
            </if>
            <if test="remainAmount != null">
                remainAmount = #{remainAmount,jdbcType=BIGINT},
            </if>
            <if test="cancelAmount != null">
                cancelAmount = #{cancelAmount,jdbcType=BIGINT},
            </if>
            <if test="cancelInterest != null">
                cancelInterest = #{cancelInterest,jdbcType=BIGINT},
            </if>
            <if test="valueAdded != null">
                valueAdded = #{valueAdded,jdbcType=BIGINT},
            </if>
            <if test="stus != null">
                stus = #{stus,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                openId = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="merchantId != null">
                merchantId = #{merchantId,jdbcType=VARCHAR},
            </if>
            <if test="merName != null">
                merName = #{merName,jdbcType=VARCHAR},
            </if>
            <if test="totleAmount != null">
                totleAmount = #{totleAmount,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE orderId = #{orderId,jdbcType=VARCHAR}
    </update>
    <!--根据订单号查询订单信息-->
    <select id="selectOrderInfo" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from t_inst_orderinfo
        where orderId = #{orderId}
    </select>
    <!--根据订单号删除订单-->
    <delete id="deleteByOrderId" parameterType="String">
        delete from t_inst_orderinfo where orderId = #{orderId}
    </delete>
    <!--pos端单个订单查询-->
    <select id="selectOrderPos" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from t_inst_orderinfo
        where orderId = #{orderId} and merchantId = #{merchantId} and contractsCode is not null
    </select>
    <!--商户订单查询-->
    <select id="findOrderByPlantByCustomer" resultMap="BaseResultMap" parameterType="Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_inst_orderinfo
        <where>
            contractsState <![CDATA[!= ]]> 0
            <if test="merchantId != null">
                and merchantId like CONCAT('%','${merchantId}','%')
            </if>
            <if test="merName != null">
                and merName like CONCAT('%','${merName}','%')
            </if>
            <if test="orderId != null">
                and orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY createTime desc
        </where>
    </select>
    <!--商户结清订单查询-->
    <select id="findOrderInfoListByFinish" resultMap="BaseResultMap" parameterType="Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_inst_orderinfo
        <where>
            contractsState <![CDATA[!= ]]> 0
            AND contractsState <![CDATA[!= ]]> 1
            <if test="merchantId != null">
                and merchantId like CONCAT('%','${merchantId}','%')
            </if>
            <if test="merName != null">
                and merName like CONCAT('%','${merName}','%')
            </if>
            <if test="orderId != null">
                and orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY createTime desc
        </where>
    </select>

    <!--商户退款中订单查询-->
    <resultMap type="com.newland.financial.p2p.domain.entity.OrderInfo" id="BaseResultRefundMap">
        <id property="id" column="id"/>
        <result property="txnTime" column="txnTime" jdbcType="TIMESTAMP"/>
        <result property="merId" column="merId"/>
        <result property="txnAmt" column="txnAmt"/>
        <result property="txnterms" column="txnterms"/>
        <result property="orderId" column="orderId"/>
        <result property="userId" column="userId"/>
        <result property="accName" column="accName"/>
        <result property="accNo" column="accNo"/>
        <result property="validity" column="validity"/>
        <result property="accIdcard" column="accIdcard"/>
        <result column="accMobile" property="accMobile"/>
        <result column="CVN2" property="cvn2"/>
        <result column="discount" property="discount"/>
        <result column="contractsCode" property="contractsCode"/>
        <result column="amount" property="amount"/>
        <result column="queryId" property="queryId"/>
        <result column="poundage" property="poundage"/>
        <result column="contractsState" property="contractsState"/>
        <result column="sumTerms" property="sumTerms"/>
        <result column="sumAmount" property="sumAmount"/>
        <result column="remainAmount" property="remainAmount"/>
        <result column="cancelAmount" property="cancelAmount"/>
        <result column="cancelInterest" property="cancelInterest"/>
        <result column="valueAdded" property="valueAdded"/>
        <result column="createTime" property="createTime"/>
        <result column="stus" property="stus"/>
        <result column="openId" property="openId"/>
        <result column="merchantId" property="merchantId" jdbcType="VARCHAR"/>
        <result column="merName" property="merName" jdbcType="VARCHAR"/>
        <result column="totleAmount" property="totleAmount" jdbcType="BIGINT"/>
        <association property="refund" javaType="com.newland.financial.p2p.domain.entity.Refund">
            <id property="refundId" column="refundId"/>
            <result property="txnTime" column="refundTime" jdbcType="TIMESTAMP"/>
            <result property="merId" column="merId"/>
            <result property="contractsCode" column="contractsCode"/>
            <result property="cancelAmount" column="cancelAmount"/>
            <result property="state" column="state"/>
            <result property="orderId" column="orderId"/>
            <result property="vocher" column="vocher"/>
            <result property="sendTime" column="sendTime"/>
            <result property="path" column="path"/>
            <result column="applyCancelAmount" property="applyCancelAmount"/>
        </association>
    </resultMap>
    <!--Pos端全部订单查询(列表)-->
    <select id="getOrderByCustomer" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * FROM t_inst_orderinfo a LEFT JOIN t_inst_refund b ON a.orderId = b.orderId
        <where>a.merchantId = #{merchantId} AND a.contractsState is not null
            <if test="begTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &gt;= #{begTime}
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="accName != null">
                and a.accName like CONCAT('%','${accName}','%')
            </if>
            <if test="orderId != null">
                and a.orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY createTime desc
        </where>
    </select>
    <!--Pos端退款订单查询(列表)-->
    <select id="findRefundListPos" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * FROM t_inst_orderinfo a,t_inst_refund b
        <where>
            a.merchantId = #{merchantId} and a.orderId = b.orderId
            <if test="begTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &gt;= #{begTime}
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="accName != null">
                and a.accName like CONCAT('%','${accName}','%')
            </if>
            <if test="orderId != null">
                and a.orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY a.createTime desc
        </where>
    </select>
    <!--Pos端结清与未结清订单查询(列表)-->
    <select id="findOrderListPos" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * FROM t_inst_orderinfo a LEFT JOIN t_inst_refund b ON a.orderId = b.orderId
        <where>
            a.merchantId = #{merchantId} AND a.contractsState is not null
            <if test="status != null">
                AND a.contractsState <![CDATA[!= ]]> 0
                AND a.contractsState <![CDATA[!= ]]> 1
            </if>
            <if test="status == null">
                AND a.contractsState <![CDATA[!= ]]> 2
                AND a.contractsState <![CDATA[!= ]]> 3
                AND a.contractsState <![CDATA[!= ]]> 4
                AND a.contractsState <![CDATA[!= ]]> 5
            </if>
            <if test="begTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &gt;= #{begTime}
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="accName != null">
                and a.accName like CONCAT('%','${accName}','%')
            </if>
            <if test="orderId != null">
                and a.orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY a.createTime desc
        </where>
    </select>
    <!--管理平台退款中订单查询-->
    <select id="findFundInfo" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * FROM t_inst_orderinfo rd,t_inst_refund re
        <where>
            re.state = 2 AND rd.orderId = re.orderId
            <if test="merchantId != null">
                and rd.merchantId like CONCAT('%','${merchantId}','%')
            </if>
            <if test="merName != null">
                and rd.merName like CONCAT('%','${merName}','%')
            </if>
            <if test="orderId != null">
                and rd.orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY createTime desc
        </where>
    </select>
    <!--管理平台还款中订单查询-->
    <select id="findRepayList" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * from t_inst_orderinfo
        WHERE contractsState IN ('0','1') AND orderId NOT IN (SELECT orderId from t_inst_refund WHERE state = 2)
        <if test="merchantId != null">
            and merchantId like CONCAT('%','${merchantId}','%')
        </if>
        <if test="merName != null">
            and merName like CONCAT('%','${merName}','%')
        </if>
        <if test="orderId != null">
            and orderId like CONCAT('%','${orderId}','%')
        </if>
        ORDER BY createTime DESC
    </select>
    <!--平台的订单详情查询-->
    <select id="getOrderInfoByManager" resultMap="BaseResultRefundMap" parameterType="String">
        SELECT a.*,b.* from t_inst_orderinfo a LEFT JOIN t_inst_refund b ON a.orderId = b.orderId
        WHERE a.orderId = #{orderId, jdbcType=VARCHAR}
    </select>

    <!--微信还款中订单查询-->
    <select id="findRepayWeixin" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * from t_inst_orderinfo
        WHERE contractsState IN ('0','1') AND orderId NOT IN (SELECT orderId from t_inst_refund WHERE state = 2)
        AND openId = #{openId}
        <if test="begTime != null">
            AND DATE_FORMAT(txnTime,'%Y-%m-%d') &gt;= #{begTime}
        </if>
        <if test="endTime != null">
            AND DATE_FORMAT(txnTime,'%Y-%m-%d') &lt;= #{endTime}
        </if>
        <if test="accName != null">
            and accName like CONCAT('%','${accName}','%')
        </if>
        <if test="orderId != null">
            and orderId like CONCAT('%','${orderId}','%')
        </if>
        ORDER BY createTime DESC
    </select>
    <!--微信退款中订单查询-->
    <select id="findRefundWeixin" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * FROM t_inst_orderinfo rd,t_inst_refund re
        <where>
            rd.orderId = re.orderId AND rd.openId = #{openId}
            <if test="begTime != null">
                AND DATE_FORMAT(rd.txnTime,'%Y-%m-%d') &gt;= #{begTime}
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(rd.txnTime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="accName != null">
                and rd.accName like CONCAT('%','${accName}','%')
            </if>
            <if test="orderId != null">
                and rd.orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY rd.createTime desc
        </where>
    </select>
    <!--微信已结清订单查询-->
    <select id="findByFinishWeixin" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT * FROM t_inst_orderinfo a LEFT JOIN t_inst_refund b ON a.orderId = b.orderId
        <where>
            a.openId = #{openId} AND a.contractsState is not null
            <if test="status == null">
                AND a.contractsState <![CDATA[!= ]]> 0
                AND a.contractsState <![CDATA[!= ]]> 1
            </if>
            <if test="begTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &gt;= #{begTime}
            </if>
            <if test="endTime != null">
                AND DATE_FORMAT(a.txnTime,'%Y-%m-%d') &lt;= #{endTime}
            </if>
            <if test="accName != null">
                and a.accName like CONCAT('%','${accName}','%')
            </if>
            <if test="orderId != null">
                and a.orderId like CONCAT('%','${orderId}','%')
            </if>
            ORDER BY a.createTime desc
        </where>
    </select>
    <!--微信端单个订单查询-->
    <select id="selectOrderWinXin" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from t_inst_orderinfo
        where orderId = #{orderId} and openId = #{openId} and contractsCode is not null
    </select>
</mapper>