<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.RefundMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.Refund">
        <id column="refundId" property="refundId" jdbcType="VARCHAR"/> <!-- 退款单号-->
        <result column="refundTime" property="txnTime" jdbcType="TIMESTAMP"/> <!-- 发送时间-->
        <result column="merId" property="merId" jdbcType="VARCHAR"/> <!-- 商户代码-->
        <result column="contractsCode" property="contractsCode" jdbcType="VARCHAR"/> <!-- 合同号-->
        <result column="cancelAmount" property="cancelAmount" jdbcType="NUMERIC"/> <!-- 商户退款金额-->
        <result column="state" property="state" jdbcType="VARCHAR"/> <!-- 退款状态 (1:退款成功，2:人工审核，0:退款失败)-->
        <result column="orderId" property="orderId" jdbcType="VARCHAR"/> <!-- 商户订单号-->
        <result column="vocher" property="vocher" jdbcType="VARCHAR"/> <!-- 凭证状态 (0:未上传，1:已上传)-->
        <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP"/> <!-- 凭证上传时间-->
        <result column="path" property="path" jdbcType="VARCHAR"/> <!-- 汇款凭证保存路径-->
    </resultMap>

    <!--商户退款中订单查询-->
    <resultMap type="com.newland.financial.p2p.domain.entity.Refund" id="BaseResultRefundMap">
        <id property="refundId" column="refundId" />
        <result property="txnTime" column="refundTime" />
        <result property="merId" column="merId" />
        <result property="contractsCode" column="contractsCode" />
        <result property="cancelAmount" column="cancelAmount" />
        <result property="state" column="state" />
        <result property="orderId" column="orderId" />
        <result property="vocher" column="vocher" />
        <result property="sendTime" column="sendTime" />
        <result property="path" column="path" />
        <association property="orderInfo" javaType="com.newland.financial.p2p.domain.entity.OrderInfo" >
            <id property="id" column="id" />
            <result property="txnTime" column="txnTime" />
            <result property="merId" column="merId" />
            <result property="txnAmt" column="txnAmt" />
            <result property="txnterms" column="txnterms" />
            <result property="orderId" column="orderId" />
            <result property="userId" column="userId" />
            <result property="accName" column="accName" />
            <result property="accNo" column="accNo" />
            <result property="validity" column="validity" />
            <result property="accIdcard" column="accIdcard" />
            <result column="accMobile" property="accMobile" />
            <result column="CVN2" property="cvn2" />
            <result column="discount" property="discount" />
            <result column="contractsCode" property="contractsCode" />
            <result column="amount" property="amount" />
            <result column="queryId" property="queryId" />
            <result column="poundage" property="poundage" />
            <result column="contractsState" property="contractsState" />
            <result column="sumTerms" property="sumTerms" />
            <result column="sumAmount" property="sumAmount" />
            <result column="remainAmount" property="remainAmount" />
            <result column="cancelAmount" property="cancelAmount" />
            <result column="cancelInterest" property="cancelInterest" />
            <result column="valueAdded" property="valueAdded" />
            <result column="createTime" property="createTime" />
            <result column="stus" property="stus" />
            <result column="openId" property="openId" />
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        refundId,refundTime,merId,contractsCode,cancelAmount,state,orderId,vocher,sendTime,path
    </sql>
    <select id="findFundInfo" resultMap="BaseResultRefundMap" parameterType="Map">
        SELECT
        *
        FROM
        t_inst_orderinfo rd,t_inst_refund re
        <where>
            re.state = 2
            AND
            rd.orderId = re.orderId
            <if test="merchantId != null">
                and rd.merchantId like CONCAT('%','${merchantId}','%')
            </if>
            <if test="merName != null">
                and rd.merName like CONCAT('%','${merName}','%')
            </if>
            <if test="orderId != null">
                and rd.orderId like CONCAT('%','${orderId}','%')
            </if> ORDER BY createTime desc
        </where>
    </select>
<!--根据订单号查询退款单-->
    <select id="selectRefundByOrderId" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM t_inst_refund WHERE orderId = #{orderId}
    </select>
    <!--更新退款单-->
    <update id="updateRefundByOrderId" parameterType="com.newland.financial.p2p.domain.entity.Refund">
       update t_inst_refund
        <set>
            <if test="txnTime != null">
                refundTime = #{txnTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merId != null">
                merId = #{merId,jdbcType=VARCHAR},
            </if>
            <if test="contractsCode != null">
                contractsCode = #{contractsCode,jdbcType=VARCHAR},
            </if>
            <if test="cancelAmount != null">
                cancelAmount = #{cancelAmount,jdbcType=NUMERIC},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="vocher != null">
                vocher = #{vocher,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                sendTime = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE orderId = #{orderId,jdbcType=VARCHAR}
    </update>
    <insert id="insertRefund" parameterType="com.newland.financial.p2p.domain.entity.Refund">
        insert into t_inst_refund (<include refid="Base_Column_List"/>) values
        (#{refundId,jdbcType=VARCHAR},#{txnTime,jdbcType=TIMESTAMP},#{merId,jdbcType=VARCHAR},#{contractsCode,jdbcType=VARCHAR},#{cancelAmount,jdbcType=NUMERIC},#{state,jdbcType=VARCHAR},
        #{orderId,jdbcType=VARCHAR},#{vocher,jdbcType=VARCHAR},#{sendTime,jdbcType=TIMESTAMP},#{path,jdbcType=VARCHAR})
    </insert>
</mapper>